<ng-template #content let-modal createEmployeeRequest()>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Employee</h4>
    <p class="error-show" *ngIf="!isFormValid">ALL THE FILES ARE REQUIRED TO SAVE A NEW CUSTOMER</p>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="employeeDataForm" (ngSubmit)="submitForm(employeeDataForm)">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="input-name">Name</label>
          <input type="text" class="form-control" id="input-name" name="name" placeholder="Name" formControlName="name">
        </div>
        <div class="form-group col-md-6">
          <label for="input-last-name">LastName</label>
          <input type="text" class="form-control" id="input-last-name" name="lastName" placeholder="LastName" formControlName="lastName">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-7">
          <label for="input-pay">Pay</label>
          <input min="0" type="number" class="form-control" id="input-pay"  name="pay" placeholder="Pay" formControlName="pay">
        </div>
        <div class="form-group col-md-5">
          <label for="input-birthday">Birthday</label>
          <input type="date" class="form-control" name="birthDate" id="input-birthday" formControlName="birthDate">
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-outline-dark">
      </div>
    </form>
  </div>

</ng-template>

<button class="btn btn-lg btn-outline-secondary" (click)="open(content)">Create a new employee</button>

